<div class="page-header">
  <h1>Kate's itc298 project</h1>
</div>

<div class="page-header">
  <h2>Update a book</h2>
</div>

<form class="form-horizontal" enctype="multipart/form-data" method="POST" action="/updateProcess">
  
  <!--ID value cannot be updated -->
  {{#abook}}
  <div class="form-group">
    <label for="inputTitle" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputTitle" name="inputTitle" value="{{title}}">
      <input type="hidden" id="inputId" name="inputId" value="{{id}}">
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Image</label>
    <div class="col-sm-10">
      {{#unless photoUrl}}
        <img src="/book-photo/no-image.png" alt="temp" style="width:150px; height:auto;" id="bookPhoto">
      {{/unless}}
      {{#if photoUrl}}
        <img src="{{photoUrl}}" alt="temp" style="width:150px; height:auto;" id="bookPhoto" name="bookPhoto">
      {{/if}}
      <input type="file" accept="image/*" id="inputPhoto" name="photo" onchange="changePicture()" >
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputAuthor" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAuthor" name="inputAuthor" value="{{author}}">
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputPrice" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
        <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="number" min="0.01" step="0.01" class="form-control" id="inputPrice" name="inputPrice" value="{{price}}">
        </div>
    </div>
  </div>
  
  <div class="form-group">
    <label for="inputSold" class="col-sm-2 control-label">Sold</label>
    <div class="col-sm-10">
        <div class="input-group">
            <select class="form-control" name="selectSold">
                <option value=true {{#if sold}}selected{{/if}} >YES</option>
                <option value=false {{#unless sold}}selected{{/unless }}>NO</option>
            </select>
        </div>
    </div>
  </div>
  
  {{/abook}}
  <!--DateAdded value cannot be updated -->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-warning pull-right">Update</button>
    </div>
  </div>
</form>


<script>
//script for changing image upload
$("#inputPhoto").change(function(){
    if (this.files && this.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#bookPhoto').attr('src', e.target.result);
      };
    reader.readAsDataURL(this.files[0]);
  }
});
</script>